body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px; /* Adjust width as needed */
}

h2 {
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-group button:hover {
  background-color: #eee;
}

#registerButton {
  background-color: #4caf50; /* Green */
  color: white;
}

#stopButton {
  background-color: #f44336; /* Red */
  color: white;
}
